<p>usuarios</p>
<div id="users" class="container">
</div>
<p>msgs</p>
<div id="messages" class="container">
</div>
<div id="footer">
    <div class="row" style="justify: center;">
      <div class="col-sm-8">
        <form id="form-message">
          <input id="message-input" class="form-control" />
        </form>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>